.container {
	max-width: 1008px;
	width: 100%;
}

.title {
	margin-bottom: 40px;
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	color: var(--bold-text);

	@include media($mobile-bp) {
		font-size: 20px;
		margin-bottom: 24px;
	}
}

.startRegistrationBtn {
	display: block;
	margin-inline: auto;
	margin-block: 26px 2px;

	@include media($mobile-bp) {
		margin-block-start: 20px;
	}
}

.successStage {
	font-size: 20px;
	color: var(--bold-text);
	margin-bottom: 40px;
	text-align: center;

	@include media($mobile-bp) {
		font-size: 18px;
		margin-bottom: 24px;
	}
}
